@import "tailwindcss";

body {
  font-family: Poppins;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}


@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    .bondpaper {
        width: 100vw !important;
        height: 100vh !important;
        display: flex !important;
        flex-direction: row !important;
        page-break-after: always;
    }
}